# Plug-in configuration.
#
# Author $Author$
# Version $Revision$

# Replace each field with appropriate values: menu path, entry name, filter class

Syngenta>OpenSource, "Hue Colours opensource", com.syngenta.imagej.plugins.imagecolours.HueColoursFilter
Syngenta>OpenSource>About Plugins>Segmentation, "Hue Colours open source...", com.syngenta.imagej.plugins.imagecolours.HueColoursFilter("about")
