# Plug-in configuration.

# Replace each field with appropriate values: menu path, entry name, filter class
Plugins>Segmentation, "Hue Colours", com.syngenta.imagej.plugins.imagecolours.HueColoursFilter
Help>About Plugins, "Hue Colours...", com.syngenta.imagej.plugins.imagecolours.HueColoursFilter("about")
